{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block page_title %}
     OCRROO
{% endblock %}

<!-- Footer of Page -->
{% block base_footer %}
<p class="text-gray-500 text-left px-2 font-medium uppercase title-font mb-4 border-b border-gray-500 w-full">
    Home Page
</p>
{% endblock %}

{% block main %}

<div class="flex align-center justify-center m-2 w-full"
         id="inputNameArea">
    <label class="font-semibold">Please enter your name
        <input type="text"
            id="inputName" CLASS="border border-stone-600 m-2">
    </label>

    <button id="saveName"  type="button"
            class="bg-stone-500 hover:bg-stone-700 mx-2
                text-white font-bold p-2 rounded cursor-pointer">
        Save Name</button>
</div>
<p id="alert" class="text-red text-center"></p>

<section class="flex flex-col items-center max-w-4xl mx-auto mt-4">



    <div class="flex flex-row w-full justify-around items-center mt-2 mb-4">
        <p class="m-2 font-semibold">Please select a video</p>

    <input id="videoInput" type="file" accept="video/*"
         class="bg-stone-500 hover:bg-stone-700 text-white font-bold p-2 rounded cursor-pointer m-2"/>
    </div>

    <video id="videoPlayer" width="640" height="380" controls
    class="object-cover object-center">
      <source id="videoSource" type="video/mp4">
    </video>

    <div class="w-full flex flex-row justify-around m-2 mt-4">
<!--        <p class="font-semibold m-2">TimeStamp:-->
<!--            <span class="mr-3" id="timeDisplay">00:00</span>-->
<!--        </p>-->

        <label class="font-semibold m-2">TimeStamp:
        <input class="mr-3"
               type="text"
               id="timeDisplay"
                value="00:00"/>
        </label>
        <div>
<!--            <button type="button"-->
<!--                class="bg-stone-500 hover:bg-stone-700 mx-2-->
<!--                       text-white font-bold p-2 rounded cursor-pointer"-->
<!--            id="videoStart">-->
<!--        Play a Video</button>-->

            <button id="captureFrame" type="button"
                    class="bg-stone-500 hover:bg-stone-700 mx-2
                    text-white font-bold p-2 rounded cursor-pointer">
        Capture a frame</button>
        </div>
    </div>
</section>
<section class="flex flex-wrap items-center justify-center max-w-4xl mx-auto mt-4">
    <div class="m-2 p-4 pl-6 pr-6 bg-stone-200">
             <h4 class="text-stone-700 font-bold text-center
                        text-2xl mb-2">
                 Current Frame</h4>
            <canvas width="320" height="200" class="bg-white shadow-xs"></canvas>
            <img  id="frameImg" src="">

            <pre id="metadata-info"></pre>
        </div>
        <div class="m-2 p-4 pl-6 pr-6 bg-stone-200">
            <h4 class="text-stone-700 font-bold text-center
                        text-2xl mb-2">
                Show Transcripts</h4>
            <div class="h-50 min-w-100 p-2 overflow-y-auto
                        bg-white shadow-xs mb-2"
                 id="transcripts">
                Sample code
            </div>

            <div class="flex flex-row justify-center mt-2">
                <button type="button" id="saveFile"
                class="bg-stone-500 hover:bg-stone-700 text-white
                         font-bold p-2 rounded cursor-pointer m-2">
                    Save to file</button>
            </div>
        </div>
</section>











{% endblock %}

