<!-- Layout based on https://www.creative-tim.com/twcomponents/u/denver-edwards -->
<nav class="border-b border-gray-300 py-2.5 bg-stone-50">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
        <!-- Brand -->
        <a href="{{ url_for('home') }}"
           class="flex items-center align-middle group
                  focus:outline-none focus:ring-2 focus:ring-amber-400 ring-offset-2
                  hover:text-gray-500">
            <h1 class="self-center text-xl font-semibold whitespace-nowrap flex flex-row-reverse">
                <span class="pl-2 sr-only">
                    OCRROO
                </span>
                <i class="fa-brands fa-python text-3xl mx-2 text-stone-800 hover:text-gray-500"></i>
            </h1>
        </a>

    </div>
</nav>